# NetBeans project files
nbproject/private/

# Build outputs
build/
dist/
*.class

# Libraries
lib/*.jar

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
/introduction/prjStudentExercise/nbproject/private/